<configuration>
   <dllmap dll="libgimp-2.0-0.dll" target="libgimp-2.0.so" />
   <dllmap dll="libgimpbase-2.0-0.dll" target="libgimpbase-2.0.so" />
   <dllmap dll="libgimpcolor-2.0-0.dll" target="libgimpcolor-2.0.so" />
   <dllmap dll="libgimpmath-2.0-0.dll" target="libgimpmath-2.0.so" />
   <dllmap dll="libgimpui-2.0-0.dll" target="libgimpui-2.0.so" />
   <dllmap dll="libgimpwidgets-2.0-0.dll" target="libgimpwidgets-2.0.so" />
</configuration>